* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.columns::after {
  content: '';
  display: table;
  clear: both;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  height: 160px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  padding-top: 2vh;
}

#logo img {
  height: 70px;
}

nav ul {
  list-style: none;
  height: 8vh;
  line-height: 8vh;
}

nav ul li {
  display: inline-block;
  padding: 0 0.7vw;
}

nav ul li a {
  font-size: 13px;
  text-decoration: none;
  color: grey;
}
nav ul li:hover {
  background-color: #e7e7e7;
  border-bottom: 2px solid black;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}

main {
  width: 100%;
  margin-top: 170px; /* Ho aumentato il margin-top del main per fissare l'header e non aver problemi allo scroll */
}

.slider {
  width: 100%;
  height: 500px;
  position: relative;
}

.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner_text {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 50vw;
  padding: 10% 7%;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.columns {
  width: 100%;
  margin-top: 5vh;
  padding-bottom: 2vh;
}

.title {
  width: 100%;
  height: 15vh;
  margin-bottom: 3vh;
  position: relative;
}

.title .title_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* ho utilizzato il translate sulle asse delle y per centrare verticalmente il contenuto visto che non riuscivo in altri modi */
}

.title_text div, .box p {
  color: grey;
  text-align: justify;
}

.box {
  float: left;
}

.box.left,
.box.right {
  width: 20%;
}

.bottom_image {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.box .image.img_middle {
    background-image: url("../img/banner-2.jpg");
}

.box.middle {
  width: calc(60% - 40px);
  margin: 0 20px;
}

.bottom_image img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

footer {
  width: 100%;
  height: 10vh;
  margin-top: 2vh;
}

footer .copyright {
  text-align: center;
  line-height: 10vh;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

footer span::before {
  content: '\2665';
  color: red;
  font-size: 20px;
}
